<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jms
       http://www.springframework.org/schema/jms/spring-jms.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/brokerdb"></property>
        <property name="username" value="broker"></property>
        <property name="password" value="123456"></property>
        <property name="maxActive" value="100"></property>
        <property name="defaultAutoCommit" value="true"></property>
    </bean>

    <context:component-scan base-package="com.module.jms"/>
    <context:component-scan base-package="com.module.util"/>
    <context:component-scan base-package="com.module.restful"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>Order.hbm.xml</value>
                <value>Transaction.hbm.xml</value>
                <value>Firm.hbm.xml</value>
                <value>Product.hbm.xml</value>
                <value>Broker.hbm.xml</value>
                <value>CancelOrder.hbm.xml</value>
                <value>PriceRecord.hbm.xml</value>
            </list>

        </property>
    </bean>


    <bean id="orderDao" class="com.module.dao.daoimpl.OrderDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="redisService" class="com.module.util.RedisServiceImpl">

    </bean>
    <bean id="cancelOrderDao" class="com.module.dao.daoimpl.CancelOrderDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="cancelOrderService" class="com.module.service.serviceimpl.CancelOrderServiceImpl">
        <property name="orderDao" ref="orderDao"></property>
        <property name="cancelOrderDAO" ref="cancelOrderDao"></property>
        <property name="redisService" ref="redisService"></property>
        <property name="sender" ref="sender"></property>
    </bean>
    <bean id="productDao" class="com.module.dao.daoimpl.ProductDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="firmDao" class="com.module.dao.daoimpl.FirmDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="transactionDao" class="com.module.dao.daoimpl.TransactionDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>

    </bean>
    <bean id="priceRecordDao" class="com.module.dao.daoimpl.PriceRecordDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="productService" class="com.module.service.serviceimpl.ProductServiceImpl">
        <property name="productDAO" ref="productDao"></property>
    </bean>
    <bean id="priceRecordService" class="com.module.service.serviceimpl.PriceRecordServiceImpl">
        <property name="priceRecordDao" ref="priceRecordDao"/>
    </bean>
<bean id="transactionService" class="com.module.service.serviceimpl.TransactionServiceImpl">
    <property name="transactionDAO" ref="transactionDao"></property>
    <property name="orderDAO" ref="orderDao"></property>
    <property name="firmDAO" ref="firmDao"></property>
    <property name="productDAO" ref="productDao"></property>
</bean>

    <bean id="orderService" class="com.module.service.serviceimpl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDao"></property>
        <property name="sender" ref="sender"></property>
        <property name="transactionService" ref="transactionService"></property>
    </bean>
    <bean id="firmService" class="com.module.service.serviceimpl.FirmServiceImpl">
        <property name="firmDAO" ref="firmDao"/>
    </bean>

<bean id="dealOrderAction" class="com.module.action.DealOrderAction">
    <property name="orderService" ref="orderService"></property>
   <property name="transactionService" ref="transactionService"></property>
    <property name="firmService" ref="firmService"></property>
    <property name="productService" ref="productService"></property>
    <property name="cancelOrderService" ref="cancelOrderService"></property>
</bean>


    <bean id="processCancelOrderThread" class="com.module.thread.ProcessCancelOrderThread">
        <property name="cancelOrderService" ref="cancelOrderService">
        </property>
        <property name="redisService" ref="redisService"></property>
        <property name="orderService" ref="orderService"></property>

    </bean>
    <!--redis config-->
    <context:property-placeholder location="classpath:/redis.properties" />
    <bean id="redisUtil" class="com.module.util.RedisUtil">
        <property name="addr" value="${redis.addr}"/>
        <property name="port" value="${redis.port}"/>
        <property name="auth" value="${redis.auth}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxActive" value="${redis.maxActive}"/>
        <property name="maxWait" value="${redis.maxWait}"/>
        <property name="timeOut" value="${redis.timeOut}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <!--JMS-->
    <bean id="queueListener" class="com.module.jms.listener.QueueListener">
        <property name="firmService" ref="firmService"/>
        <property name="orderService" ref="orderService"/>
        <property name="productService" ref="productService"/>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="txManager"  />

</beans>